<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maws.loonandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".LoonAndroid"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewUserActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LoonActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MonitorActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LoonActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ScanDevicesActivity"
            android:configChanges="orientation"
            android:label="@string/title_scan_devices"
            android:screenOrientation="portrait"
            android:theme="@style/LoonActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <receiver android:name=".receivers.DevicePropertyReceiver" >
            <intent-filter>
                <action android:name="com.maws.loonandroid.deviceproperty" />
            </intent-filter>
        </receiver>

        <service android:name=".services.BLEService" />

        <provider
            android:name=".contentproviders.DeviceEnabledPropertyContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.DeviceEnabledPropertyContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentproviders.DevicePropertyContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.DevicePropertyContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentproviders.DeviceContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.DeviceContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentproviders.CustomerContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.CustomerContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentproviders.SiteContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.SiteContentProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".contentproviders.PropertyContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.PropertyContentProvider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.HistorySensorActivity"
            android:label="@string/title_activity_history_sensor"
            android:theme="@style/LoonActionBarTheme"
            android:parentActivityName=".activities.MonitorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maws.loonandroid.activities.MonitorActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e690ff966aed71fce389bb7a08e54f3978fa5b17" />
    </application>

</manifest>
