<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maws.loonandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-feature android:name="android.hardware.bluetooth_le"  android:required="true" />

    <application
        android:name=".LoonAndroid"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewUserActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:theme="@style/LoonActionBarTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MonitorActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:theme="@style/LoonActionBarTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ScanDevicesActivity"
            android:label="@string/title_scan_devices"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:theme="@style/LoonActionBarTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <receiver android:name=".receivers.AlertReceiver" >
            <intent-filter>
                <action android:name="com.maws.loonandroid.alert" />
            </intent-filter>
        </receiver>
        <service android:name=".services.BLEService" />
        <provider
            android:name=".contentproviders.AlertContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.AlertContentProvider"
            android:exported="false"
            android:enabled="true"
        />
        <provider
            android:name=".contentproviders.SensorContentProvider"
            android:authorities="com.maws.loonandroid.contentproviders.SensorContentProvider"
            android:exported="false"
            android:enabled="true"
        />

    </application>
</manifest>
